
<h1>スライド一覧</h1>
<%= link_to 'スライドを追加する', new_slide_path %>


<ul>
<% @slides.each do |slide| %>
	<li><a href=<%= slide.url %>><img src=<%= slide.thumbnail_url %> alt=<%= slide.title %>></a></li>
<% end %>
</ul>