<h1>記事の検索</h1>

<h5>カテゴリから探す</h5>
<div class="list-group">
  <a href="/articles/?category_id=1" class="list-group-item list-group-item-action">ビジネス</a>
  <a href="/articles/?category_id=2" class="list-group-item list-group-item-action">IT</a>
  <a href="/articles/?category_id=3" class="list-group-item list-group-item-action">スポーツ</a>
  <a href="/articles/?category_id=4" class="list-group-item list-group-item-action">ライフハック</a>
  <a href="/articles/?category_id=5" class="list-group-item list-group-item-action">エンタメ</a>
  <a href="/articles/?category_id=6" class="list-group-item list-group-item-action">社会</a>
</div>
<br>
<h5>投稿者から探す</h5>
<div class="list-group">
  <a href="/articles/?category_id=1" class="list-group-item d-flex justify-content-between align-items-center">
  	いのうえ
  	<img src="http://jaqnews.s3.amazonaws.com/users/avatars/000/000/002/thumb/test.png?1507952550" alt="いのうえ" height="50">
  </a>
</div>
<br>
<%= link_to '戻る', articles_path %>
