<p>■本サイトについて</p>
<p>・JaQでの本の貸し借りを目的としたローカル図書館アプリ</p>
<br/ >
<p>■借りる手順</p>
<p>①新規アカウントを作成する</p>
<p>②図書一覧から借りたい書籍を見つける</p>
<p>※17FB, 17FRのユーザは、17階ベイ側書庫, 17階リバー側書庫を示します</p>
<p>③「かります！」ボタンをクリック</p>
<br/ >
<p>■返す手順</p>
<p>①17FB, 17FRのアカウントでログイン</p>
<p>pw: 17fbadmin, 17fradmin</p>
<p>②借りた図書の詳細ページで「かります！」ボタンをクリック</p>
<br/ >
<p>■本サイトの機能追加について</p>
<p>・開発(外部リンク)に飛んで、issueに起票してください。</p>