<p>[目的]</p>
<p>・メンバー間での本の貸し借りを目的としたローカル図書館アプリ</p>
<br/ >
<p>[実装済み機能]</p>
<p>・ログイン、ログアウト</p>
<p>・書籍登録(isbnのみで問い合わせ可、国会図書館APIと連携)</p>
<p>・書籍一覧・書籍詳細</p>
<p>・アカウント削除時に、ユーザが登録している書籍を削除</p>
<br/ >
<p>[やりたいこと]</p>
<p>・</p>
<p>・書籍登録(isbnのみで問い合わせ可、国会図書館APIと連携)</p>
<p>・書籍一覧・書籍詳細</p>
<p>・アカウント削除時に、ユーザが登録している書籍を削除</p>