<!-- Main -->
<div id="main" class="wrapper style1">
  <div class="container">
    <header class="major">
      <h1>JaQ LIB</h1>
    </header>

    <!-- Content -->
    <section id="content">
      <h3><p>■使い方</p></h3><HR>
      <p>・「新規アカウント登録」でアカウント登録</p>
      <p>　※メアド、パスワードを入力です。</p>
      <p>　　メアド登録するけどメール認証はしないスグレモノ</p>

      <p>・借り方、返し方はわかりやすいUIにしてあるから大丈夫！</p>

      <p>・レンタル期限は1週間です</p><br>

      <h3><p>■今後の拡張方向性</p></h3><HR>

      <p>・随時VerUp予定です。</p>

      <p>・拡張したい機能要望、改善要望あらばお気軽に門田までお知らせください。</p>
      <p>　※プロダクトのコンセプトはあるので、機能拡張の優先順位はこちらで判断します。</p><br>

      <h3><p>■本を追加したい場合（JaQに紹介したい本がある）</p></h3><HR>

      <p>・UI、UX検討してます。</p>
      <p>　しばしおまちください、取り急ぎ超追加したい本あったら教えてください。</p>
    </section>

  </div>
</div>