<!-- Main -->
<header class="major">
  <h1>ようこそ、JaQLIBへ</h1>
</header>

<!-- Content -->
  <h3>あの人がオススメする本を気軽に</h3>      
    <p>
      誰かではないあの人がオススメする本を借りられます。
      何を手にとってよいか迷ったらJaQLIBを訪れてみてください。<br>
      <br>
      <br>
    </p>

  <h3>感想でつながる</h3>
    <p>
      本を読み終わったらその感想はJaQLIBのコメント欄へ。
      誰かがその本を手にとるきっかけになります。<br>
    </p>
  <hr>

<h3>問い合わせ</h3>

  <p>JaQLIB運営：門田、井上、平野まで</p>