<!-- Main -->
<div id="main" class="wrapper style1">

    <header class="major">
      <h1>JaQ LIB</h1>
    </header>

    <!-- Content -->
    <h2>ようこそ、JAQLIQへ</h2>
      <h3><あの人がオススメする本を気軽に></h3>      
        <div>
          JaQLibでは、知らない誰かではないあの人のオススメする本を借りられます。<br>
          何を手にとってよいか迷ったときぜひJaQLibを活用してみてください。
          <br>
          <br>
          <br>
        </div>

      <h3><感想はコメントで></h3>
        <div>
          本を読み終わって感想を誰かに話したくなったらコメントを残してみてください。<br>
          コメントは誰からでも見ることができ、他の方がその本を手にとるきっかけを与えてくれます。
        </div>
      <hr>
    <h2>更新情報</h2>
      
      <h5>・スマホでも見やすいようデザインを一新しました。</h5>
      <h5>・TOPページを更新しました。</h5>
      <hr>    

    <h2>問い合わせ</h2>

      <h5>JaQLib運営：門田、井上、平野までお願いします。</h5>

</div>