<!-- Main -->
<header class="major">
  <h1>ようこそ、JaQLIBへ</h1>
</header>

<!-- Content -->
  <h3>あの人がオススメする本を気軽に</h3>      
    <p>
      誰かではないあの人がオススメする本を借りられます。
      何を手にとってよいか迷ったらJaQLIBを訪れてみてください。<br>
      <br>
      <br>
    </p>

  <h3>感想でつながる</h3>
    <p>
      本を読み終わったらその感想はJaQLIBのコメント欄へ。
      誰かがその本を手にとるきっかけになります。<br>
    </p>
  <hr>
<h3>更新情報</h3>
  
  <h6>・スマホでも見やすいようデザインを一新しました。</h6>
  <h6>・TOPページを更新しました。</h6>
     

<h3>使い方</h3>

  <h6>・はじめて使う方は新規アカウント登録が必要です。</h6>
  <h6>・登録したメールアドレスにメールが送られることはありません。</h6>
  <h6>・使い方について不明点があれば運営までご連絡ください。</h6>  

<h3>問い合わせ</h3>

  <h6>JaQLIB運営：門田、井上、平野までお願いします。</h6>