<!-- Main -->


<!-- Content -->

<h3>JaQのいまを知る、共有する</h3>
<button class="btn-lg btn-primary btn-block" onClick="location.href='/articles'">JaQ NEWSへ</button>

<br>

<h3>JaQで図書を借りる、貸す</h3>  
<button class="btn-lg btn-primary btn-block" onClick="location.href='/books'">JaQ LIBへ</button>

<br>