<!-- Main -->
<div id="main" class="wrapper style1">

    <header class="major">
      <h1>JaQ LIB</h1>
    </header>

    <!-- Content -->
    <h2>ようこそ、JaQLIBへ</h2>
      <h3>あの人がオススメする本を気軽に</h3>      
        <div>
          誰かではないあの人がオススメする本を借りられます。<br>
          何を手にとってよいか迷ったらJaQLIBを訪れてみてください。<br>
          <br>
          <br>
        </div>

      <h3>感想でつながる</h3>
        <div>
          本を読み終わったらその感想はJaQLIBのコメント欄へ。<br>
          誰かがその本を手にとるきっかけになります。<br>
        </div>
      <hr>
    <h2>更新情報</h2>
      
      <h5>・スマホでも見やすいようデザインを一新しました。</h5>
      <h5>・TOPページを更新しました。</h5>
      <hr>    

    <h2>使い方</h2>

      <h5>・はじめて使う方は新規アカウント登録が必要です。</h5>
      <h5>・登録したメールアドレスにメールが送られることはありません。</h5>
      <h5>・使い方について不明点があれば運営までご連絡ください。</h5>
      <hr>    

    <h2>問い合わせ</h2>

      <h5>JaQLIB運営：門田、井上、平野までお願いします。</h5>

</div>